body{
  font-size: 18px;
  background-color: white;

}
h1{
  color:red;
  font-size: 40px;

}
article{

}
figure{

}
img{
  max-width: 100%;

}
.byline{
  font-size: 12;
  color: grey;
  max-width: 100%;
}
.dateline{
  font-size: 8px;
  color: grey;

  max-width: 100%;
}
figure p {
  color:grey;
  max-width: 100%;
  font-size: 12px;

}

byline
dateline
caption
