h1{
Font-size: 26px;
padding-bottom:0px;
padding-top:20px;
margin-bottom:5px;
color:black;
}
.byline{
color:gray;
padding-top:0px;
padding-bottom:0px;
margin-top:0px;
margin-bottom:0px;
font-weight:normal;


}
.dateline{
color:gray;
Font-size:12px;
border-bottom-width: 3px;
border-color:orange;
padding-top:0px;
padding-bottom:0px;
margin-top:0px;
margin-bottom:0px;

}
p{
  font-size: 16px;

}
a{
  color:blue;
}
figure p{
  font-size:12px;
  color:gray;
}
figure{
  padding-top:0px;
  margin-top: 0px;
  padding-bottom: 0px;
  margin-bottom:10px;
}
image{
  max-width:90%;
  margin: 0px;
  padding-bottom:5px;
}
header{
  margin-bottom:10px;
  padding-bottom:10px;
}
