h1{
Font-size: 26px;
padding-bottom:0px;
padding-top:20px;
margin-bottom:5px;
color:black;
Font-family: 'Source Serif Pro', serif;
font-weight: bold;
}
.byline{
color:gray;
padding-top:0px;
padding-bottom:0px;
margin-top:0px;
margin-bottom:0px;
Font-family: 'Source Serif Pro', serif;font-weight: light;

}
.dateline{
color:gray;
Font-size:12px;
border-bottom-width: 3px;
border-color:orange;
padding-top:0px;
padding-bottom:0px;
margin-top:0px;
margin-bottom:0px;
Font-family: 'Source Serif Pro', serif;
font-weight: normal;
kearning: 150%;
}
p{
  font-size: 16px;
  font-family: "Lato", sans-serif;

}
a{
  color:blue;
}
figure p{
  font-size:12px;
  color:gray;
}
figure{
  padding-top:0px;
  margin-top: 0px;
  padding-bottom: 0px;
  margin-bottom:0px;
}
image{
  max-width:90%;
  margin: 0px;
  padding-bottom:5px;
}
header{
  margin-bottom:10px;
  padding-bottom:10px;
}
